[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/dsrkafuu/hugo-theme-fuji.git
[submodule ".github/themes/ananke"]
	path = .github/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
